<!DOCTYPE HTML>
<html>
<head> 
    <title>Enter Country</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Please enter the Country you would like to list users for: </p>

<form method='GET' action='/usersByCountry'>
      <select name="country" id="country">
        <option value="Gambia">Gambia</option>
        <option value="Wallis and Futuna">Wallis and Futuna</option>
        <option value="Virgin Islands, British">Virgin islands, British</option>
        <option value="United Kingdom">United Kingdom</option>
        <option value="Hong Kong">Hong Kong</option>
        
        <option value="Greenland">Greenland</option>
        <option value="Nicaragua">Nicaragua</option>
        <option value="Macao">Macao</option>
        <option value="Bhutan">Bhutan</option>
        <option value="Turkey">Turkey</option>
        
        <option value="Solomon Islands">Solomon Islands</option>
        <option value="Iraq">Iraq</option>
        <option value="Georgia">Georgia</option>
        <option value="Gabon">Gabon</option>
        <option value="Antarctica">Antarctica</option>
        
      </select>
      <input type="submit" value="Search by Country" />
</form>

<br>

<a href='/'><button>Back to Home Page</button></a>
</body>
</html>