<!DOCTYPE HTML>
<html>
<head> 
    <title>Enter Date Range</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Please enter the Date Range you would like to list users for (format yyyy-mm-dd): </p>
    
    <form method='GET' action='/usersByDateRange'>
    <input type='text' id='userInput' name='date1' value='' />
    <input type='text' id='userInput2' name='date2' value='' />
    <input type='submit' value='Search by Date Range'/>
</form>

<a href='/'><button>Back to Home Page</button></a>
</body>
</html>